body  {
    background-color: #f9f7fe;
    font-family: sans-serif;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    margin: 0 0 5px;
    font-size: 28px;
}

footer {
    font-size: 18px;
    color: rbga (0,0,0,0.8);
    text-align: center;
}

select {
   display: block;
   font-size: 10px;
   width: 100%;
   padding: 10px;
   border-radius: 4px;
}

.city {
    border-bottom: 1px dashed rgb(0, 0, 0, 0.2);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 48px;
    font-weight: bold;

}

.time small {
    font-size: 24px;
    line-height: 36px;
    vertical-align: middle;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    padding: 30px;
}